button {
  margin: 0;
  padding: 0;
}

image {
  margin: 0;
  padding: 0;
}


.container {
  width: 1400px;

  .title {
    background-color: rgb(235, 133, 0);

    .infor {
      display: flex;
      justify-content: space-around;
      width: 100%;

      .score {}

      .shuffle {}

      .time {}
    }
  }

  .main {
    display: flex;
    width: 1200px;
    margin-top: 32px;

    .action-game {
      flex: 1;
      display: flex;
      flex-direction: column;

      .action-button {
        width: 100%;
        height: 36px;
        font-size: 20px;
        border-radius: 5px;
        background-color: aliceblue;
        margin: 16px 0;

        &:hover {
          background-color: aqua;
        }
      }
    }

    .game-board {
      flex: 3;
      margin: 0 8px;

      .row-board {
        display: flex;

        .board-item {
          width: 48px;
          height: 48px;
          margin: 0;
          padding: 0;
          transition: opacity;

        }
        .selecting{
          opacity: 0.7;
        }

        .empty-item {
          width: 48px;
          height: 48px;
          margin: 0;
          padding: 0;
          background-color: transparent;
          background-image: none !important;
          border: none;
        }

        .item-hidden {
          background-color: transparent;
          background-image: none !important;
          border: none;
          padding: 2px;
        }
      }
    }

    .game-instruction {
      flex: 2;
      background-color: bisque;
    }
  }
}

.content {

  .level1,
  .level2,
  .level3,
  .level4,
  .level5 {
    display: none;

    &.active {
      display: block;
    }
  }
}